#backIcon {
  height: 24px;
  width: 24px;
}

#dispDetailContent {
  padding: 16px;
}

#checkinHeader {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

ion-content::part(scroll) {
  padding: 0;
}

@media (min-width: 800px) {
  #shop-checkin-list {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}