@media(min-width: 800px) {
  ion-tab-bar {
    width: 6em;
    left: 0;
    bottom: initial;
    top: 0;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1em;
  }

  ion-tabs {
    padding-left: 6em;
  }

  ion-tab-bar ion-tab-button {
    height: 6em;
    flex: none;
  }

  ion-tab-bar ion-tab-button.tab-selected {
    --background: #2a2a2a;
    --color-selected: #8d6e63;
    border-radius: 6px;

    width: 78px;
  }

  ion-tab-bar ion-tab-button.tab-selected ion-label {
    display: none;
  }

  ion-modal {
    --width: 700px !important;
    --height: 700px !important;
  }
}