@media(min-width: 800px) {
  ion-tab-bar {
    width: 6em;
    left: 0;
    bottom: initial;
    top: 0;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  ion-tabs {
    padding-left: 6em;
  }

  ion-tab-bar ion-tab-button {
    height: 6em;
    flex: none;
  }

  ion-modal {
    --width: 700px !important;
    --height: 700px !important;
  }
}