near-me {
  /* Component styles go here */
}

#noData {
  text-align: center;
}

#noData h3 {
  font-weight: bold;
}

#myMap {
  height: 100vh;
  width: 100vw;
}

#nearMeList {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

#desktopSearch {
  display: none;
}

#likes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

#likes ion-icon {
  margin-right: 5px;
  font-size: 20px;
}

@media(min-width: 1200px) {
  #desktopSearch {
    display: initial;
  }
  #searchFooter {
    display: none;
  }
}