#introSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

#introSection p {
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
}

ion-card {
  animation-name: slidein !important;
  animation-duration: 300ms;
}

ion-card img {
  width: 100%;
  height: 290px;
}

#homeShare {
  margin-left: 12px;
}

#ratingLabel {
  display: flex;
  align-items: center;
}

#starsSpan {
  margin-top: 4px;
  margin-left: 5px;
  display: block;
  color: var(--ion-color-primary);
}

#introImg {
  width: 16em;
}

#header-login::part(visiting) {
  display: none;
}

#header-login #visiting {
  display: none;
}

.snap-picture {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 70vw;
  margin-top: 2em;
  background: #ffffff1a;
  border-radius: 6px;
  padding: 12px;
}

.snap-picture p {
  text-align: start;
  width: 14em;
}

.snap-picture img {
  height: 20em;
}

@media (min-width: 1000px) {
  ion-card img {
    height: 300px;
  }

  ion-card ion-card-content {
    height: 55px;
  }

  #introImg {
    width: 24em;
  }

  #checkinList {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
  }

  #introSection p {
    width: 20em;
  }
}

@media (max-width: 900px) {
  .snap-picture {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .snap-picture p {
    text-align: center;
  }
}

@keyframes slidein {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}