app-settings {
    /* Component styles go here */
}

#content {
  margin: 16px;
}

#setActions {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 32px;
}

pwa-install {
  z-index: 99999;
}

pwa-install::part(openButton) {
  background: var(--ion-color-primary);
}

#settingsList {
  margin-bottom: 2em;
}

@media(min-width: 1200px) {
  #username {
    margin-left: 2em;
  }

  #setActions {
    position: initial;
    width: 8em;
    margin-left: 3em;
    margin-top: 2em;
  }

  #settingsList {
    margin-left: 2.8em !important;
    margin-right: 46em !important;
  }
}