
ion-card img {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

#noData {
  text-align: center;
}

#noData h3 {
  font-weight: bold;
}

#favesList {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

@media (min-width: 1000px) {
  ion-card img {
    height: 290px;
  }

  ion-card ion-card-content {
    height: 55px;
  }
}